.login {
	height: 100vh;
	background: #f3f1f1;
	display: grid;
	place-items: center;
	color: #4b4b4b;
}

.login__container {
	padding: 100px;
	text-align: center;
	background-color: white;
	border-radius: 15px;
	line-height: 250%;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.login__container > img {
	object-fit: contain;
	height: 100px;
	margin-bottom: 30px;
}

.button-wrap {
	display: flex;
	flex-direction: column;
	margin-top: 10px !important;
}

.button-wrap > Button {
	margin-top: 10px;
	text-transform: inherit !important;
	text-align: left;
	padding: 8px 15px;

	font-size: 1em;
	color: white;
	display: flex;
	justify-content: left;
	width: 280px;
}

.google {
	background-color: #e43b3b !important;
}

.fb {
	background-color: #4482df !important;
}

.align-c {
	margin: 0 25px 0px 0;
	padding: 0 0px 4px 0;
}

.line {
	border-right: 1px solid rgba(255, 255, 255, 0.24);
	padding-right: 10px;
}
